[submodule "src/spatialite"]
	path = src/spatialite
	url = https://salsa.debian.org/debian-gis-team/spatialite.git
[submodule "src/sqlean"]
	path = src/sqlean
	url = https://github.com/nalgeon/sqlean.git
